code:not([class^="lang"]) {
  font-family: Menlo;
}

body,
footer {
  background-color: #ffffff;
  color: #000000;
}

header {
  background-color: #84919e !important;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  color: #000000;
}

.twitter svg {
  fill: #00abdc !important;
}

.icon-share {
  fill: #000000 !important;
}

.panel_box {
  background-color: #000000 !important;
}

.sidebar ul {
  list-style: none !important;
}

.sidebar li {
  margin-left: 10px;
  margin-right: 15px;
}

.breadcrumb a,
.post_content a {
  color: #005aff;
}

a:hover{
  color: #005aff;
  text-decoration: underline;
}

.button_translucent {
  background-color: #005aff;
  color: #ffffff !important;
}

.sticky_note {
  position: relative;
  background: #bfe4ff;
  padding: 5px 15px;
  border-left: solid 5px #005aff;
}

.sticky_note:after{
  position: absolute;
  content: '';
  right: 0px;
  top: 0px;
  border-width: 0 30px 30px 0;
  border-style: solid;
  border-color: #005aff #ffffff #005aff;
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.15);
}

.post_item {
  border-radius: initial;
  margin-bottom: 25px;
}

.button {
  text-transform: initial;
}

.breadcrumb li {
  display: inline;
  list-style: none;
  font-size: small;
}
.breadcrumb li:not(:last-child)::after {
  content: '>';
  color: #000000;
  padding: 0px;
}
