{{- $params := .Site.Params }}
<header class="nav_header">
  <nav class="nav">
    <a href='{{ absURL "" }}' class="nav_brand nav_item">
      {{ .Site.Title }}
      <div class="nav_close">
        <div>
          <svg class="icon">
            <use xlink:href="#open-menu"></use>
          </svg>
          <svg class="icon">
            <use xlink:href="#closeme"></use>
          </svg>
        </div>
      </div>
    </a>
    <div class="nav_body nav_body_{{ .Site.Params.mobileNavigation }}">
      {{- $link := .RelPermalink }}
      {{- range .Site.Data.menu }}
      <div class="nav_parent{{ if eq .link $link }} nav_active{{ end}}">
        <a href="{{ absURL .link }}" class="nav_item">{{ .name }}</a>
      </div>
      {{- end }}
      {{- partial "follow" . }}
    </div>
  </nav>
</header>
