{{ $title := .Title }}
<aside class="sidebar">
  <section class="sidebar_inner">
    <h2>{{ .Site.Params.Author }}</h2>

    <h3 class="mt-4">Recent Posts</h3>
    <ul class="flex-column sticky_note">
      {{- range first 4 (where .Site.RegularPages.ByLastmod.Reverse "Type" "in" site.Params.mainSections) }}
      <li>
        <a href="{{ .Permalink }}" class="nav-link">{{ .Title }}</a>
      </li>
      {{- end }}
    </ul>
    <h3 class="mt-4 taxonomy" id="tags-section">tags</h3>
    <nav class="tags_nav sticky_note">
      {{- range .Site.Taxonomies.tags.ByCount }}
      <a href='{{ absURL "tags" }}/{{ (replace .Name "#" "%23") | urlize }}/' class="post_tag button button_translucent">
        {{- .Page.Title -}}
        <span class='button_tally'>{{ .Count }}</span>
      </a>
      {{- end }}
    </nav>
  </section>
</aside>
